/* :root{
    --x: 0;
    --y: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('w11.jpg');
    background-size: cover;
}

.context-menu{
    display:none;
    opacity: 90%;
    position: absolute;
    background: white;
    border-radius: 6px;
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    font-family: sans-serif;
    min-width: 170px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000050,
                -0px -0px 4px #00000070 ;
     animation: fade-in 300ms ease;
}

.anim{
    
    animation-play-state: play;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 90%;
    }
}

.context-menu ul{
    width: 100%;
    list-style-type: none;
    display:flex;
    flex-direction: column;
}

.context-menu ul li{
    display:flex;
    align-items: center;
    gap: 10px;
    padding: 6px 15px;
    width: 100%;
    transition: background 100ms ease;
    cursor: context-menu;
}

.context-menu div{
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 0;
}

.context-menu div:last-of-type{
    border-bottom: 0px;
}

.context-menu img{
    width: 20px;
}

.context-menu ul li:hover{
    background: #ececec;
}